@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<!-- .flexslider-attachments  main-flex-slider -->


<div class="container about-pg-2">
    <div class="row">
        <h2 class="t-title-office office2" style="text-align:center;"><span>Welcome to Timbo's Blog</span></h2>
        <br />
        <hr />
        <div class="col-md-6">
            <h3>This website is built using:</h3>
            <ul class="myFeatures">
                <li>HTML5 / CSS3 / JavaScript</li>
                <li>jQuery / SQL Server / Design My Life template</li>
            </ul>
            <h3>Features include:</h3>
            <ul class="myFeatures">
                <li>MVC4</li>
                <li>Custom Filters</li>
                <li>Animated Elements</li>
            </ul>
        </div>

        <div class="col-md-6">
            <section class="slider">
                <div id="slider" class="flexslider main-flex-slider">
                    <ul class="slides">
                        <li><img src="~/img/about/IzendaWebLogos.png" alt="" /></li>
                        <li><img src="~/img/about/JQ-SQLS-DesignMyLife.png" alt=""/></li>
                    </ul>
                </div>
            </section>
        </div>
        
    </div>


</div>
<!-- /.container -->
